/*Grouping selectors for the <p> elements*/
.red,
.blue{
    font-weight: bold;
    color: white;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

/*Buttons*/

.yellowbutton{
    background-color: yellow;
    color: black;
}
.blackbutton{
    background-color: black;
    color: white;
}

/*group buttons on size*/

.yellowbutton,
.blackbutton{
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/*Chain images to new page */

.image#squished{
    width: 200px;
    height: 400px;
}

.image.proportional{
    width: 500px;
    height: auto;
}

/*Descendant Combinator*/

.container .text{
    background-color: yellow;
    font-size: 20px;
    color: red;
    text-align: center;
}

/*Class and id practice*/
/*Odd numbered elements*/
.odd{
    background-color: lightpink;
    font-family: Verdana,"Dejavu Sans",sans-serif;
}

/*Second Element*/
#blue{
    color: blue;
    font-size: 32px;
}

/*Third Element*/
.big-font{
    font-size: 24px;
}

/*Fourth Element*/
.green{
    background-color: lightgreen;
    font-weight: bold;
}