/*Grouping selectors for the <p> elements*/
.red,
.blue{
    font-weight: bold;
    color: white;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

/*Buttons*/

.yellowbutton{
    background-color: yellow;
    color: black;
}
.blackbutton{
    background-color: black;
    color: white;
}

/*group buttons on size*/

.yellowbutton,
.blackbutton{
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/*Chain images to new page */

.image.squished{
    width: 200px;
    height: 400px;
}

.image.proportional{
    width: 500px;
    height: auto;
}